DJANGO_DEBUG=True
SECRET_KEY='n6ih78)r-91&ndtblq3^rwr=cqx%$tr339!ij$wv2svqwa$t0w'

DATABASE_NAME='birthday_reminder_db'
DATABASE_USER='postgres'
DATABASE_PORT='5432'
DATABASE_PASSWORD='pg1234'
DATABASE_HOST='postgres_db'

CELERY_BROKER_URL='amqp://admin:rb1234@rabbitmq:5672/'
CELERY_RESULT_BACKEND="rpc://"

#CELERY_BROKER_URL='redis://redis:6379/0'
#CELERY_RESULT_BACKEND="redis://redis:6379/0"

DEFAULT_FROM_EMAIL='brithdaywish@gmail.com'
EMAIL_HOST_USER = ""
EMAIL_HOST_PASSWORD = ""
EMAIL_HOST = "smtp.gmail.com"
EMAIL_PORT = "587"

COMPANY_NAME='Birthday Wishes App'
