DJANGO_DEBUG=True
SECRET_KEY='7e4=6fgm&b&p9_*k=o=cps_ghxz89snid61j!dn1wl@3q+87v9'
EMAIL_HOST_USER='admin@example.com'
EMAIL_HOST_PASSWORD='password'
DATABASE_NAME='birthday_reminder_db'
DATABASE_USER='postgres'
DATABASE_PORT='5432'
DATABASE_PASSWORD='pg1234'
DATABASE_HOST='postgres_db'
TO_EMAILS='customer1t@mail.com, customer1@mail.com'
CELERY_BROKER_URL='amqp://admin:rb1234@rabbitmq:5672/'

