<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 500px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f5f5f5;
            border-radius: 10px;
        }
        .header {
            text-align: center;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <p>Dear {{ name }},</p>
        <p>Wishing you a fantastic birthday filled with joy, laughter, and unforgettable moments! 🥳 As a valued customer of {{ company_name }}, we want to take this opportunity to celebrate you on your special day.</p>
        <p>Your support and trust mean the world to us, and we are grateful to have you as part of our {{ company_name }} family. We hope your day is as amazing as you are, and we want to extend our heartfelt wishes for health, happiness, and success in the coming year.</p>
        <p>Thank you for choosing {{ company_name }} and being a part of our journey. We look forward to serving you and providing you with exceptional experiences in the future.</p>
        <br/>
        <p>Once again, happy birthday! 🎈🎉</p>
        <br/>
        <p>Warm regards,</p>
        <p>{{ company_name }}<br>
    </div>
</body>
</html>
